.education {
  width: 100%;
  margin: 0 auto;
  height: 100vh;
  display: flex;
  justify-content: center;

  .education__content {
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
    width: 100%;

    .education__title {
      font-size: 40px;
      letter-spacing: 1px;
      color: #444b48;
      margin-bottom: 40px;
    }
  }
}
