.skills {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #eee;

  .skills__title {
    font-size: 40px;
    letter-spacing: 1px;
    color: #444b48;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    width: 60%;
    background-color: #fafafa;
    margin-bottom: 20px;
    box-shadow: 0px 8px 14px 0 rgba(0, 0, 0, 0.15);
    padding: 32px 32px;

    .skills-container__row {
      width: 100%;

      .skills-container__row__title {
        margin-bottom: 20px;
        font-size: 20px;
        color: #444b48;
      }

      .skills-container__row-detailed {
        display: flex;
        justify-content: space-between;
        margin: 10px auto;
        font-size: 14px;
        transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
        .rating {
          transition: all 0.5s cubic-bezier(0.7, 0, 0.3, 1);
        }
      }
      .skills-container__row-detailed:hover {
        font-weight: bold;
        background-color: #ececec;
        .rating {
          transform: scale(1.08);
        }
      }
    }
  }
}

@media (max-width: 1024px) {
  .skills {
    .skills-container {
      width: 100%;
      .skills-container__row {
        .skills-container__row-detailed {
          display: flex;
          flex-direction: column;
          align-items: center;
        }
      }
    }
  }
}
