/* Font definitions */
@font-face {
  font-family: 'Comfortaa-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('Comfortaa-Regular'),
    url('./static/fonts/Comfortaa-Regular.woff2') format('woff2'),
    url('./static/fonts/Comfortaa-Regular.woff') format('woff'),
    url('./static/fonts/Comfortaa-Regular.ttf') format('ttf'),
    url('./static/fonts/Comfortaa-Regular.eot') format('eot');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

@font-face {
  font-family: 'AnnieUseYourTelescope-Regular';
  font-style: normal;
  font-weight: 400;
  src: local('AnnieUseYourTelescope-Regular'),
    url('./static/fonts/AnnieUseYourTelescope-Regular.woff2') format('woff2'),
    url('./static/fonts/AnnieUseYourTelescope-Regular.woff') format('woff'),
    url('./static/fonts/AnnieUseYourTelescope-Regular.ttf') format('ttf'),
    url('./static/fonts/AnnieUseYourTelescope-Regular.eot') format('eot');
  unicode-range: U+000-5FF; /* Latin glyphs */
}

/* End of font definitions */

body {
  margin: 0;
  font-family: Comfortaa-Regular, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu',
    'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
